swagger: '2.0'
info:
  version: '1'
  title: Ancient Faith Radio API
  description: ''
host: ancientfaith.com
basePath: /api/v1
schemes:
 - https

paths:
  /feed:
    get:
      description: Return a feed for displaying featured content.
      responses:
        200:
          description: Success
  /streams:
    get:
      description: Return a list of all streams
      responses:
        200:
          description: Success
  /streams/${stream_id}:
    get:
      description: Return details of a stream with now playing info and recently played info.
      parameters:
        - name: stream_id
          in: path 
          type: string
          required: true 
      responses:
        200:
          description: Success
  /authors:
    get:
      description: Return a paginated list of podcast authors
      parameters:
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed
      responses:
        200:
          description: Success
  /authors/${author_id}:
    get:
      description: Return details of a podcast authors
      parameters:
        - name: author_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
  /trending:
    get:
      description: Return a paginated list of all trending podcasts
      parameters:
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed
      responses:
        200:
          description: Success
  /podcasts:
    get:
      description: Return a paginated list of all podcasts
      parameters:
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed
        - name: has_transcripts
          in: query
          type: boolean
        - name: author_id
          in: query
          type: string
          description: Specifies the author of the podcasts to be displayed.
      responses:
        200:
          description: Success
  /podcasts/${podcast_id}:
    get:
      description: Return details of a podcast with recent episodes.
      parameters:
        - name: podcast_id
          in: path 
          type: string
          required: true 
      responses:
        200:
          description: Success
  /podcasts/${podcast_id}/episodes:
    get:
      description: Return a paginated list of episodes for a podcast.
      parameters:
        - name: podcast_id
          in: path 
          type: string
          required: true 
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed 
      responses:
        200:
          description: Success
  /podcasts/${podcast_id}/episodes/${episode_id}:
    get:
      description: Return a paginated list of episodes for a podcast.
      parameters:
        - name: podcast_id
          in: path 
          type: string
          required: true 
        - name: episode_id
          in: path
          type: string
          required: true 
      responses:
        200:
          description: Success
  /blogs:
    get:
      description: Return a paginated list of all blogs
      parameters:
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed
      responses:
        200:
          description: Success
  /blogs/${blog_id}:
    get:
      description: Return details of a blog
      parameters:
        - name: blog_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
  /events:
    get:
      description: Return a paginated list of all events
      parameters:
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed
      responses:
        200:
          description: Success
  /events/${event_id}:
    get:
      description: Return details of a event
      parameters:
        - name: event_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
  /users/${user_id}:
    get:
      description: Return details of a user
      parameters:
        - name: user_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
  /users/${user_id}/playlists:
    get:
      description: Return a paginated list a playlists for a user
      parameters:
        - name: user_id
          in: path
          type: string
          required: true
        - name: limit
          in: query
          type: integer
          description: Limits the number of items.
        - name: offset
          in: query
          type: integer
          description: Specifies the page number of the items to be displayed
      responses:
        200:
          description: Success
    post:
      description: Create a new playlist for a user
      parameters:
        - name: user_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
  /users/${user_id}/playlists/${playlist_id}:
    get:
      description: Return details of a playlist for a user
      parameters:
        - name: user_id
          in: path
          type: string
          required: true
        - name: playlist_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
    put:
      description: Replace the playlist contents
      parameters:
        - name: user_id
          in: path
          type: string
          required: true
        - name: playlist_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
    patch:
      description: Update the playlist contents
      parameters:
        - name: user_id
          in: path
          type: string
          required: true
        - name: playlist_id
          in: path
          type: string
          required: true
      responses:
        200:
          description: Success
  /search:
    get:
      description: Search for AFR content
      parameters:
        - name: q
          in: query
          type: string
          required: true
      responses:
        200:
          description: Success
